{% extends 'base.html.twig' %}

{% block title %}Hello VilleController!{% endblock %}

{% block body %}
    <h1>
        ville: {{ ville }}
    </h1>
    <h1>
        Nombre d'habitants: {{ nombre}}
    </h1>

    <h2>
        Type: 
        {% if nombre < 1000 %}
            Village

            {% elseif nombre >= 1000 and nombre < 10000 %}
                Petite ville
    
        {% else %}
            Grande ville

    {% endif %}  
    </h2>

{% endblock %}
