{% extends "base.html.twig" %}

{% block title %}
    Liste des Articles
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Mes articles</h1>
            </div>

            {% for article in articles %}
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h4>{{ article.titre }}</h4>
                        </div>
                        <div class="card-body">
                            {{ article.contenu }}
                        </div>
                        <div class="card-footer">
                            paru le {{ article.createdAt | date('d-m-y') }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}